.body {
  font-family: "Libre Franklin", cursive;
}

.game-container {
  text-align: center;
  padding: 0 20px 20px 20px;
}

/* WordGrid Styles */

.word-grid {
  margin-bottom: 10px;
}

.word-row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.letter {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #3a3a3c;
  text-transform: uppercase;
  color: #000000;
  transition: background-color 0.3s ease;
}

.letter:nth-child(2n) {
  margin: 0 5px;
}

.letter-empty {
  border: 2px solid #d3d6da;
}

.letter-filled {
  border: 2px solid #878a8c;
}

.correct-initial, .present-initial, .absent-initial {
  background-color: #d3d6da;
}

.correct-final, .present-final, .absent-final {
  color: #fff;
}

.correct-final {
  background-color: #6aaa64;
  border: 2px solid #6aaa64;
}

.present-final {
  background-color: #c9b458;
  border: 2px solid #c9b458;
}

.absent-final {
  background-color: #787c7e;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
    background-color: transparent;
  }
  51% {
    background-color: inherit;
  }
  100% {
    transform: scaleY(1);
  }
}

.flip {
  animation: flip 500ms ease forwards;
}

/* Keyboard Styles */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.key {
  width: 40px;
  height: 58px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #d3d6da;
  color: #000000;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-wide {
  width: 80px;
  font-size: 0.85rem;
}

.half-spacer {
  width: 20px;
}

.backspace-icon {
  fill: #000;
}

.key.correct {
  background-color: #6aaa64;
  color: white;
}

.key.present {
  background-color: #c9b458;
  color: white;
}

.key.absent {
  background-color: #787c7e;
  color: white;
}